<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
  <h2 class="text-center">Giriş Yap</h2>
  <form th:action="@{/auth/login}" method="post" class="mt-4">
    <div class="form-group">
      <label for="username">Kullanıcı Adı</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Kullanıcı adınızı girin" required>
    </div>
    <div class="form-group">
      <label for="password">Şifre</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Şifrenizi girin" required>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
  </form>
  <p class="text-center mt-3">Henüz bir hesabınız yok mu? <a th:href="@{/auth/register}">Kayıt Olun</a></p>
</div>
</body>
</html>
